*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgb(49, 49, 99), rgb(33, 33, 133));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
          color: rgb(0, 0, 0);
          padding: 25px 20px;
          display:flex;
          flex-direction: column;
          align-items: center;
          background: white;
          width: 1000px;
          height: 1000px;
          border-radius: 15px;
       /*    margin: 15px; */
          justify-content: center;
}

        h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 40px;
            margin-bottom: 30px;
        }

        h3{
            margin: 7px;
        }

.items{
            background: linear-gradient(45deg, rgb(49, 49, 99), rgb(58, 32, 186));
            color: white;
            margin: 6px;
           /*  padding: 10px; */
            border-radius: 20px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            width: 290px;
            height: 250px;
            justify-items: center;
            }

            main{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .images{
                width: 290px;
                height: 200px;
                border-radius: 20px;
                justify-content: center;
            }